In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("train.csv")
df.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy

In [3]:
#drop columns user_id, browser_used, device_used
df.drop(columns = ["User_ID","Browser_Used","Device_Used"],inplace = True,axis = 1)
df.head()

                                         Description Is_Response
0  The room was kind of clean but had a VERY stro...   not happy
1  I stayed at the Crown Plaza April -- - April -...   not happy
2  I booked this hotel through Hotwire at the low...   not happy
3  Stayed here with husband and sons on the way t...       happy
4  My girlfriends and I stayed here to celebrate ...   not happy

In [4]:
df.columns = ["review","pos_neg"]
df.head()

                                              review    pos_neg
0  The room was kind of clean but had a VERY stro...  not happy
1  I stayed at the Crown Plaza April -- - April -...  not happy
2  I booked this hotel through Hotwire at the low...  not happy
3  Stayed here with husband and sons on the way t...      happy
4  My girlfriends and I stayed here to celebrate ...  not happy

In [5]:
df.loc[df["pos_neg"]=="happy","pos_neg"] = 1
df.loc[df["pos_neg"]=="not happy","pos_neg"] = 0
df.head()

                                              review pos_neg
0  The room was kind of clean but had a VERY stro...       0
1  I stayed at the Crown Plaza April -- - April -...       0
2  I booked this hotel through Hotwire at the low...       0
3  Stayed here with husband and sons on the way t...       1
4  My girlfriends and I stayed here to celebrate ...       0

In [6]:
df["pos_neg"].value_counts()

1    26521
0    12411
Name: pos_neg, dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38932 entries, 0 to 38931
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   review   38932 non-null  object
 1   pos_neg  38932 non-null  object
dtypes: object(2)
memory usage: 608.4+ KB

In [8]:
df["pos_neg"] = df["pos_neg"].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38932 entries, 0 to 38931
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   review   38932 non-null  object
 1   pos_neg  38932 non-null  int32
dtypes: int32(1), object(1)
memory usage: 456.4+ KB

In [9]:
df["review_len"] = df["review"].apply(len)

In [10]:
df.head()

                                              review  pos_neg  review_len
0  The room was kind of clean but had a VERY stro...        0         248
1  I stayed at the Crown Plaza April -- - April -...        0        1077
2  I booked this hotel through Hotwire at the low...        0        1327
3  Stayed here with husband and sons on the way t...        1         502
4  My girlfriends and I stayed here to celebrate ...        0        1613

In [11]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(df["review"],df["pos_neg"],test_size = 0.2,random_state = 0)